<a href="https://colab.research.google.com/github/julianfvazquez/CH-DS-I/blob/main/ProyectoDS_ParteI_Vazquez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 📗 Abstract - Presentación proyecto
El presente proyecto tendrá por objeto el analísis de la información proveniente del dataset "Bank Customer Churn Prediction" publicado por Shubham Meshram en la plataforma digital Kaggle. El mencionado dataset contiene un registro de clientes pertenecientes a entidades bancarias en varios países de Europa, en el cual se describirán características propias de la relación del cliente con el banco por medio de la cual se intentará encontrar un patrón y predecir a aquellos actuales y futuros clientes que presentan mayor probalibidad de abandonar a su entidad bancaria.

El principal objetivo del proyecto será reconocer a partir del análisis de varias características claves de los clientes bancarios (como pueden ser la edad, ingresos estimados, la contratación o no de tarjeta de crédito, etc), crear un modelo que busque predecir cual es el tipo de cliente que con mayor probabilidad abandone a su entidad bancaria.
Este análisis exploratorio será útil para sentar una base sólida que nos permita también realizar labores de segmentación y la adopción de toda otra recomendación basada en el contenido obtenido del propio análisis.


---


# ❓Preguntas / Hipótesis de interés



1.   ¿Cuántos años en promedio pasa una persona como cliente antes de marchar?
2.   ¿A qué edad es más frecuente que un cliente abandone su entidad bancaria?
3.   ¿Existe una relación entre abandonar una entidad bancaria y su comportamiento comercial con el mismo? (saldo bancario, contratación de productos, posesión de tarjeta de crédito)
4.   ¿Cómo es el comportamiento de los clientes con el banco según sus ingresos estimados mensuales?




---

# 🔷Preprocesamiento de la información / ETL
A continuación, procederemos a realizar los pasos preliminares para la adaptación de nuestro Notebook para poder llevar a cabo nuestro proyecto. Importaremos las librerías necesarias, echaremos un vistazo preliminar a nuestro dataset, describiremos los datos que contiene y le haremos algunas modificaciones que creamos pertinentes para adaptarlo a un formato que permita optimizar nuestro análisis.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url_dataset = "https://raw.githubusercontent.com/julianfvazquez/CH-DS-I/refs/heads/Datasets/Churn_Modelling.csv"

In [3]:
dataset = pd.read_csv(url_dataset)

In [4]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

# 🖥Descripción de los campos de nuestro dataset
1. Customer ID: Valor único identificatorio de cada cliente
2. Surname: Apellido de cada uno de los clientes
3. Credit Score: valor numérico representativo del 'Credit Score' del cliente
4. Geography: País de residencia del cliente (France/Francia, Spain/España or Germany/Alemania)
5. Gender: Genéro del cliente (Male/Masculino or Female/Femenino)
6. Age: Edad del cliente.
7. Tenure: Antigüedad del cliente en el banco
8. Balance: Saldo de la cuenta bancaria del cliente
9. NumOfProducts: Número de productos que el cliente tiene contratados con el banco
10. HasCrCard: ¿Tiene el cliente tarjeta de crédito? (1 = yes, 0 = no)
11. IsActiveMember: ¿Es un cliente activo? (1 = yes, 0 = no)
12. EstimatedSalary: Ingresos estimados del cliente al año
13. Exited: ¿El cliente ha abandonado el banco? (1 = yes, 0 = no)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10002 non-null  int64
 1   CustomerId       10002 non-null  int64
 2   Surname          10002 non-null  object
 3   CreditScore      10002 non-null  int64
 4   Geography        10001 non-null  object
 5   Gender           10002 non-null  object
 6   Age              10001 non-null  float64
 7   Tenure           10002 non-null  int64
 8   Balance          10002 non-null  float64
 9   NumOfProducts    10002 non-null  int64
 10  HasCrCard        10001 non-null  float64
 11  IsActiveMember   10001 non-null  float64
 12  EstimatedSalary  10002 non-null  float64
 13  Exited           10002 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 1.1+ MB

In [6]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10002.000000,1.000200e+04,10002.000000,10001.000000,10002.000000,10002.000000,10002.000000,10001.000000,10001.000000,10002.000000,10002.000000
mean,5001.499600,1.569093e+07,650.555089,38.922311,5.012498,76491.112875,1.530194,0.705529,0.514949,100083.331145,0.203759
std,2887.472338,7.193177e+04,96.661615,10.487200,2.891973,62393.474144,0.581639,0.455827,0.499801,57508.117802,0.402812
min,1.000000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,2501.250000,1.562852e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000,50983.750000,0.000000
50%,5001.500000,1.569073e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.000000,1.000000,100185.240000,0.000000
75%,7501.750000,1.575323e+07,718.000000,44.000000,7.000000,127647.840000,2.000000,1.000000,1.000000,149383.652500,0.000000
max,10000.000000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000,1.000000

In [7]:
dataset.shape

(10002, 14)

In [8]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          1
Gender             0
Age                1
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          1
IsActiveMember     1
EstimatedSalary    0
Exited             0
dtype: int64

De acuerdo con esta primera observación de los datos, podemos remarcar algunas particularidades de nuestro Dataset:

1. Contamos con poco más de 10000 registros de clientes bancarios, que cuentan con 14 campos cada una de ellas.
2. Podemos observar que cada uno de los campos del dataset cuenta con un tipo de dato acorde al dato que el mismo intenta almacenar. Sin embargo, podemos observar que valores como la edad y otros campos que son del tipo binario tienen el tipo de dato 'float'. A esos campos, aplicaremos un cambio que se adapte mejor al tipo de datos que intentan representar, ya que la edad siempre será un número entero, y los campos binarios únicamente obtendrán valores de 1/0.
3. No existe un número significativo de registros con datos nulos. Es por ello, que se optará por eliminar dichos registros de nuestro dataset, ya que se puede apreciar que no afectará a nuestro futuro análisis su eliminación.
4. Poseemos datos como el número de fila, ID de cada cliente y su apellido que nada aportarán al análisis que intentaremos realizar.

In [9]:
dataset_copy = dataset.copy()

In [10]:
dataset_copy.dropna(inplace=True)
dataset_copy.drop(['RowNumber','CustomerId', 'Surname'], axis=1, inplace=True)

In [11]:
dataset_copy.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
5,645,Spain,Male,44.0,8,113755.78,2,1.0,0.0,149756.71,1

In [13]:
dataset_copy.Age.astype(int)
dataset_copy.HasCrCard.astype(int)
dataset_copy.IsActiveMember.astype(int)

0        1
1        1
2        0
3        0
5        0
        ..
9997     1
9998     0
9999     0
10000    0
10001    0
Name: IsActiveMember, Length: 9998, dtype: int64

In [14]:
dataset_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9998 entries, 0 to 10001
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      9998 non-null   int64
 1   Geography        9998 non-null   object
 2   Gender           9998 non-null   object
 3   Age              9998 non-null   float64
 4   Tenure           9998 non-null   int64
 5   Balance          9998 non-null   float64
 6   NumOfProducts    9998 non-null   int64
 7   HasCrCard        9998 non-null   float64
 8   IsActiveMember   9998 non-null   float64
 9   EstimatedSalary  9998 non-null   float64
 10  Exited           9998 non-null   int64
dtypes: float64(5), int64(4), object(2)
memory usage: 937.3+ KB